body{
    background-color: darkgray;
    background-position: 0%;
}

.headers{
    font-size: 2rem;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
}

p{
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
}

ul{
    text-align: center;
    /* background-color: antiquewhite; */
    /* border: solid 2px brown; */
    list-style-type: none;
}

#menu li {
    flex-grow: 1;
    list-style-type: none; /* gets rid of bullet points */ 
}